<div class="container" name="profileInfo">
  <h1>Hello, {{user.firstName}}</h1>
  <img [src]="user.imageUrl" alt="" />
  <ul>
    <li>
      Name: {{user.firstName}} {{user.lastName}}
    </li>
    <li>
      Email: {{user.email}}
    </li>
    <li>
      Biography: {{user.biography}}
    </li>
  </ul>
</div>
<div name="savedAddresses" class="container-fluid">
<table>
  <thead>
    <tr>
      <th>Address Name</th>
      <th>Address Details</th>
    </tr>
  </thead>
  <tbody>
    @for (savedAddress of user.savedAddresses; track $index) {
      <tr>
        <td>{{savedAddress.name}}</td>
        <td>{{savedAddress.address.street}}, {{savedAddress.address.street2}}, {{savedAddress.address.city}}, {{savedAddress.address.state}}, {{savedAddress.address.zipCode}}</td>
      </tr>
    }
  </tbody>
</table>

</div>
